<!DOCTYPE html>
<head>
  <title></title>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7685452/629708/css/fonts.css" />
  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/foundation.css" />
  <link rel="stylesheet" href="stylesheets/datamates.css" />
</head>
<body>
  <section id='follow-us'>
    <div class='row'>
      <p>
        Hear about speaker and ticket updates first, follow Datamat.es on Twitter
        <a class='button' href='https://twitter.com/datamates'>@datamates</a>
      </p>
    </div>
  </section>
  <section id='follow-us'>
    <div class='row'>
      <p>
        Hear about speaker and ticket updates first, follow Datamat.es on Twitter
        <a class='button' href='https://twitter.com/datamates'>@datamates</a>
      </p>
    </div>
  </section>
  <footer id='site-footer'>
    <div class='row'>
      <div class='large-12 medium-12 small-12 columns'>
        <p>Datamat.es is brought to you by <a href="https://twitter.com/ver_enaw">Verena Wimmer</a> and <a href="https://twitter.com/gearoidorourke">Gearóid O’Rourke</a>. It was built using <a href="https://middlemanapp.com/">Middleman</a>, <a href="http://foundation.zurb.com/">Foundation</a> and <a href="https://pages.github.com/">Github Pages</a> with type set in <a href="http://www.typography.com/fonts/whitney/overview/">Whitney</a> from <a href="http://www.typography.com/">Hoefler &amp; Co</a>. Copyright 2015. Built with &hearts; in London.</p>
      </div>
    </div>
  </footer>
  <script src="javascripts/vendor/jquery.js"></script>
  <script src="javascripts/vendor/foundation.min.js"></script>
  <script>$(document).foundation();</script>
</body>
