%footer#site-footer
  .row
    .large-12.medium-12.small-12.columns
      %p Datamat.es is brought to you by Verena Wimmer and Gearóid O’Rourke. Built with Middleman, Github Pages and Atom.io. Type set in Whitney from the Hoefler Type Foundry. Copyright 2015. Build in London.
