%footer#site-footer
  .row
    .large-12.medium-12.small-12.columns
      %p Datamat.es is brought to you by <a href="https://twitter.com/ver_enaw">Verena Wimmer</a> and <a href="https://twitter.com/gearoidorourke">Gearóid O’Rourke</a>. It was built using <a href="https://middlemanapp.com/">Middleman</a>, <a href="http://foundation.zurb.com/">Foundation</a> and <a href="https://pages.github.com/">Github Pages</a> with type set in <a href="http://www.typography.com/fonts/whitney/overview/">Whitney</a> from <a href="http://www.typography.com/">Hoefler &amp; Co</a>. Copyright 2015. Built with &hearts; in London.
