%section#newsletter
  .row
    %h3.large-12.columns Sign up now to get first access to tickets on November 1st
    %form
      .large-3.medium-6.small-12.columns
        %label
          First name
          <input type="text" placeholder="First name" />
      .large-3.medium-6.small-12.columns
        %label
          First name
          <input type="text" placeholder="First name" />
      .large-3.medium-6.small-12.columns
        %label
          First name
          <input type="text" placeholder="First name" />
      .large-3.medium-6.small-12.columns
        %button.button.expand Sign up
