%section.tickets
  .row
    .large-4.columns
      %h1.section-header Grab your ticket today
    .large-8.columns
      <iframe  src="//eventbrite.co.uk/tickets-external?eid=24736664028&ref=etckt" frameborder="0" height="247" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      %small Please bring tickets either on your phone or printed. Doors open at 18:45. Latecomers may not be admitted
