
%header.hero
  .row
    .large-4.columns
      %h1 DataMates
      %img.logo(src="images/site-logo.png")
    .large-8.columns
      %h2
        %span #02
        Every eight weeks London analysts, data journalists and the data-driven designers gather together to tell beautiful stories through data.

  .event-details
    .row
      .large-4.columns
        %h4.swiss-head Supported by
        %h3
          <a href="http://hassle.com">Hassle.com</a>
      .large-4.small-6.columns
        %h4.swiss-head When
        %h3 Tues, Feb 9th @ 7pm

      .large-2.small-6.columns
        %h4.swiss-head Where
        %h3
          <a href="https://www.google.com/maps?z=12&t=m&q=loc:51.524064+-0.07706499999994776">UsTwo</a>
      .large-2.small-6.columns
        %h4.swiss-head Ticket release
        %h3 Feb 2nd

= partial "partials/tickets"

%section.speakers
  .row
    .large-4.columns
      %h1.section-header This month's speakers
    .large-8.columns
      %article.speaker

        .row
          .large-12.columns
            %h1 Duncan Ross

            %p.standfirst Director @ DataKind UK

            %p Duncan is the Data and Analytics Director for TES Global, helping to create new and innovative data products across the HE and education sectors. He has recently been listed in the top 50 data leaders in the UK by Information Age and as one of DataIQ's Big Data 100. Duncan is also strongly involved with the data philanthropy movement, and am one of the founder Directors of DataKind UK

            %p <a href="https://twitter.com/@duncan3ross">@duncan3ross</a> • <a href="http://datakind.org.uk">datakind.org.uk</a>

      %article.speaker

        .row
          .large-12.columns
            %h1 Karolis Kosas

            %p.standfirst Creative Director @ YPlan

            %p Karolis Kosas specializes in interactive product design. He is currently a creative director at YPlan.  In 10 years he has worked with impactful organizations and products, including MUBI, Samsung User Experience Lab, Google, TuneIn, Rapt Studio, Ravel Law and the Barbican Centre.

            %p <a href="https://twitter.com/@karoliskosas">@karoliskosas</a> • <a href="http://karoliskosas.com">karoliskosas.com</a>

      %article.speaker

        .row
          .large-12.columns
            %h1 Manuel Timita

            %p.standfirst Co-Founder @ Xploria Ltd

            %p Manuel is a software architect and designer, with a focus on data apps. He has a penchant for open governmental data and enjoys using it to create geospatial applications. Some of his best creations, involving datasets by Land Registry, ONS, and Department for Education amongst others, can be viewed on illustreets.co.uk.

            %p <a href="https://twitter.com/@manueltimita">@manueltimita</a> • <a href="http://illustreets.co.uk">illustreets.co.uk</a>

= partial "partials/newsletter"

%section#hello-world
  .row
    .large-8.columns
      %article
        %h1 Hello world 👋

        %p.standfirst Many words have been spoken, and written, about the role of data — but at Datamat.es we believe it is time to simplify big data and make it approachable again.
        %p And we are starting, as one should, by bringing people together. We want you to engage with the work of your peers and learn how to find the story worth telling, in a sea of data points. We want to inspire analysts to create more beautiful graphs, and encourage designers and journalists to use large datasets & open data sources. 
        %p Get inspired. Learn something. Cluster. Yeah that last one is a data pun. No we’re not sorry.
        %p There will be beer, great company, quality content and a room full of silly smart people. And while this is only our first data point, we’re pretty sure it’s only going to trend upwards from here on. 
        %p Ok, ok — no more puns.
        %p See you on December 1st,  

        %p
          <a href="https://twitter.com/ver_enaw">Verena</a> & <a href="https://twitter.com/gearoidorourke">GO</a>, the <a href="https://twitter.com/datamates">@datamates</a>

    .large-4.columns
      %aside
        %h4 Who's this for?
        %p Even if don’t know your SQL from your R, you’re very welcome to come join the conversation. You may not know it, but data can be your best mate in negotiations to bring your point across. So come and learn how the right visualisation can become your super power, or simply be engaged by inspiring findings and well-crafted data solutions.
        %p For the more technical pandas amongst you  — just remember we have a "don't mention a p-value before the other person has" agreement to make sure that every person in the room speaks the same language.
