
%header.hero
  .row
    .large-4.columns
      %h1 DataMates
    .large-8.columns
      %h2 Every eight weeks, the data-wizards, the data journalists, the business-intelligentsia, and the data-driven designers gather together to tell beautiful stories with data. 

  .event-details
    .row
      .large-4.columns
        %h4.swiss-head Supported by
        %h3 Hassle.com
      .large-2.columns
        %h4.swiss-head When
        %h3 Dec 1st
      .large-2.columns
        %h4.swiss-head Where
        %h3 UsTwo
      .large-2.columns
        %h4.swiss-head Something
        %h3 Nov 1st
      .large-2.columns
        %h4.swiss-head Else
        %h3 Nov 1st

= partial "partials/newsletter"

%section#hello-world
  .row
    .large-8.columns
      %article
        %h1 Hello world 👋

        %p.standfirst Many words have been spoken, and written, about the role of data — but at Datamat.es we believe it is time to simplify big data and make it approachable again.
        %p And we are starting, as one should, by bringing people together. We want you to engage with the work of your peers and learn how to find the story worth telling, in a sea of data points. We want to inspire analysts to create more beautiful graphs, and encourage designers and journalists to use large datasets & open data sources. 
        %p Get inspired. Learn something. Cluster. Yeah that last one is a data pun. No we’re not sorry.
        %p There will be beer, great company, quality content and a room full of silly smart people. And while this is only our first data point, we’re pretty sure it’s only going to trend upwards from here on. 
        %p Ok, ok — no more puns.
        %p See you on December 1st,  Verena & GO.
        %p @datamates

    .large-4.columns
      %aside
        %h4 Who's this for?
        %p Even if don’t know your SQL from your R, you’re very welcome to come join the conversation. You may not know it, but data can be your best mate in negotiations to bring your point across. So come and learn how the right visualisation can become your super power, or simply be engaged by inspiring findings and well-crafted data solutions.
        %p For the more technical pandas amongst you  — just remember we have a "don't mention a p-value before the other person has" agreement to make sure that every person in the room speaks the same language.
